.cmp-components-elements-shop-productstock .icons-small-shop-item, .cmp-components-elements-shop-productstock.icons-small-shop-item{
  position: relative;

  width: 12px;
  height: 12px;
}

.cmp-components-elements-shop-productstock .name-shop-item, .cmp-components-elements-shop-productstock.name-shop-item{
  width: fit-content;
  font-family: "RF Dewi-Regular", Helvetica;
  color: #000;
  font-size: 0.8em;
  letter-spacing: -0.26px;
  line-height: 18px;
  white-space: nowrap;
  position: relative;
  font-weight: 400;
}

.cmp-components-elements-shop-productstock .filter-red, .cmp-components-elements-shop-productstock.filter-red{
    filter: brightness(0) saturate(100%) invert(38%) sepia(35%) saturate(2805%) hue-rotate(320deg) brightness(85%) contrast(100%);
}

.cmp-components-elements-shop-productstock .filter_orange, .cmp-components-elements-shop-productstock.filter_orange{
    filter: brightness(0) saturate(100%) invert(80%) sepia(67%) saturate(1924%) hue-rotate(333deg) brightness(104%) contrast(83%);
}

.cmp-components-elements-shop-productstock .filter_green, .cmp-components-elements-shop-productstock.filter_green{
    filter: brightness(0) saturate(100%) invert(47%) sepia(54%) saturate(494%) hue-rotate(62deg) brightness(103%) contrast(86%);
}
