.cmp-components-elements-shop-shop-category-categorycard .category_card, .cmp-components-elements-shop-shop-category-categorycard.category_card{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 400px;
    background-color: var(--fillsprimary);
    border-radius: 24px;
    margin: 30px 0 10px;
}

.cmp-components-elements-shop-shop-category-categorycard .category_card:hover, .cmp-components-elements-shop-shop-category-categorycard.category_card:hover{
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow:0 0 10px var(--bs-gray-dark); 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }

.cmp-components-elements-shop-shop-category-categorycard .category_card_img, .cmp-components-elements-shop-shop-category-categorycard.category_card_img{
    border-radius: 24px 24px 0 0;
    object-fit: cover;
    object-position: 50% 50%;
}

.cmp-components-elements-shop-shop-category-categorycard .category_card_footer, .cmp-components-elements-shop-shop-category-categorycard.category_card_footer{
    width:100%;
    text-align: center;

}

.cmp-components-elements-shop-shop-category-categorycard .category_card_footer_title, .cmp-components-elements-shop-shop-category-categorycard.category_card_footer_title{
  font-size: 1.5em;
  font-weight: 800;

}
