@import './components/elements/DarkWelcome.css';
@import './components/elements/MainPage/MainPageShop.css';
@import './components/elements/PartnersBlock.css';
@import './components/elements/Shop/CartProducts.css';
@import './components/elements/Shop/CartSticky.css';
@import './components/elements/Shop/OrderForm.css';
@import './components/elements/Shop/ProductAmount.css';
@import './components/elements/Shop/ProductStock.css';
@import './components/elements/Shop/ShopCategory/CategoryCard.css';
@import './components/elements/Shop/Showcase/FilterElement.css';
@import './components/elements/Shop/Showcase/ProductCard.css';
@import './components/elements/WhiteWelcome.css';
@import './components/GalleryPage.css';
@import './components/NewsPage.css';
@import './components/Print/PrintOrderSteps.css';
@import './components/Print/PrintPrice.css';
@import './components/Shop/DeliveryDescription.css';
@import './components/Shop/ProductDescription.css';
@import './components/Shop/ProductRelated.css';
@import './components/Shop/ShopFilter.css';
@import './components/Shop/YandexMap.css';
@import './components/Study/AboutCourse.css';
@import './components/Study/AlreadyStudy.css';
@import './components/Study/CourcesList.css';
@import './components/Study/CourseFeedbacks.css';
@import './components/Study/CoursePrices.css';
@import './components/Study/CourseProgramm.css';
@import './components/Study/CourseRelated.css';
@import './components/Study/CourseTeachers.css';
@import './components/Study/CourseWelcome.css';
@import './components/Study/WhyWeStudyBlock.css';
