@import './components/elements/MainPage/MainPageShop.css';
@import './components/elements/PartnersBlock.css';
@import './components/elements/Shop/CartSticky.css';
@import './components/elements/Shop/ProductAmount.css';
@import './components/elements/Shop/ProductStock.css';
@import './components/elements/Shop/Showcase/ProductCard.css';
@import './components/elements/WhiteWelcome.css';
@import './components/GalleryPage.css';
@import './components/NewsPage.css';
