.cmp-components-study-courserelated a,
.cmp-components-study-courserelated a:hover,
.cmp-components-study-courserelated a:active{
  text-decoration: none;
  color: #000;
}


.cmp-components-study-courserelated .cource, .cmp-components-study-courserelated.cource{
  padding: 20px;
  /* height: 100px; */
  margin: 50px 0px;

  background-color: #fff;
  border-radius: 40px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 8px 12px #dde2e533, -10px 34px 34px #0000000f;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%); 
}

.cmp-components-study-courserelated .course_photo, .cmp-components-study-courserelated.course_photo{
  border-radius: 40px;
  object-fit: cover;
  object-position: 50% 50%;
}

.cmp-components-study-courserelated .period, .cmp-components-study-courserelated.period{
  color: #1D6E2F;
  font-weight: 800;
  padding: 10px;
  background-color: #EFF8F0;
  border-radius: 20px;
  /* border: 1px solid; */
  /* border-color: #ffffff; */
  /* box-shadow: 0px 8px 12px #dde2e533, -10px 34px 34px #0000000f; */
  /* backdrop-filter: blur(8px) brightness(100%); */
  /* -webkit-backdrop-filter: blur(8px) brightness(100%);  */
}

.cmp-components-study-courserelated .icon-ellipse, .cmp-components-study-courserelated.icon-ellipse{
  width: 10px;
  margin: 0 10px;
}

.cmp-components-study-courserelated .cource_footer, .cmp-components-study-courserelated.cource_footer{
  margin-top: 30px;
}
