.cmp-components-study-coursefeedbacks .feedback_video_block, .cmp-components-study-coursefeedbacks.feedback_video_block{
    background-color: var(--fillssecondary);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center; 
}

.cmp-components-study-coursefeedbacks .feedback_video, .cmp-components-study-coursefeedbacks.feedback_video{
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cmp-components-study-coursefeedbacks .feedback_video_img, .cmp-components-study-coursefeedbacks.feedback_video_img{
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 24px;
}

.cmp-components-study-coursefeedbacks .feedback_card, .cmp-components-study-coursefeedbacks.feedback_card{
  background-color: var(--fillsprimary);
  margin-left: 50px;
  padding: 30px;
  border-radius: 24px;
}

.cmp-components-study-coursefeedbacks .feedback_card--full, .cmp-components-study-coursefeedbacks.feedback_card--full{
  margin-left: 0;
  width: 100%;
}

.cmp-components-study-coursefeedbacks .feedback_card_header, .cmp-components-study-coursefeedbacks.feedback_card_header{
  vertical-align: middle;
}

.cmp-components-study-coursefeedbacks .feedback_card_avatar, .cmp-components-study-coursefeedbacks.feedback_card_avatar{
  display: inline-block;
  border-radius: 30px;
  width: 64px;
  height: 64px;
  vertical-align: middle;
}

.cmp-components-study-coursefeedbacks .feedback_card_title, .cmp-components-study-coursefeedbacks.feedback_card_title{
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;

}

.cmp-components-study-coursefeedbacks .feedback_card_text, .cmp-components-study-coursefeedbacks.feedback_card_text{
    max-width: 850px;
    margin-bottom: 86px;
    font-size: 18px;
    line-height: 30px;
    color: #545555;
}

.cmp-components-study-coursefeedbacks .feedback_card_text--full, .cmp-components-study-coursefeedbacks.feedback_card_text--full{
  max-width: 100%;
}

.cmp-components-study-coursefeedbacks .feedback_card_more, .cmp-components-study-coursefeedbacks.feedback_card_more{
  color: #D83A56;
}

.cmp-components-study-coursefeedbacks .feedback_paggination, .cmp-components-study-coursefeedbacks.feedback_paggination{
  margin: 30px 0;
  vertical-align: middle;
  text-align: center;
  
}

.cmp-components-study-coursefeedbacks .feedback_paggination_previos, .cmp-components-study-coursefeedbacks.feedback_paggination_previos{
  display: inline-block;
  vertical-align: middle;
  border-radius: 12px;
  padding: 10px;
  margin-right: 30px;
  background-color: var(--fillsprimary);
  color:#b6b6b6;
}

.cmp-components-study-coursefeedbacks .feedback_paggination_item, .cmp-components-study-coursefeedbacks.feedback_paggination_item{
  vertical-align: middle;
  background-color: var(--fillsprimary);
  height: 20px;
  border-radius: 10px;
  width: 40px;
  display: inline-block;
  margin: 0 10px;
}

.cmp-components-study-coursefeedbacks .active, .cmp-components-study-coursefeedbacks.active{
  background-color: #D83A56;
}

.cmp-components-study-coursefeedbacks .feedback_paggination_next, .cmp-components-study-coursefeedbacks.feedback_paggination_next{
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  border-radius: 12px;
  padding: 10px;
  background-color: var(--fillsprimary);
  color:#b6b6b6;
}
