.cmp-components-study-whywestudyblock .whywe_card, .cmp-components-study-whywestudyblock.whywe_card{
  height: 200px;
  background: url("@/assets/img/whywe-card.png") center / 90% 100% no-repeat;
  display:inline-block;
  
}

.cmp-components-study-whywestudyblock .whywe_card_title, .cmp-components-study-whywestudyblock.whywe_card_title{
  font-weight: 800;
  /* position: absolute; */
  margin-top: 10%;
  margin-left: 10%;
}

.cmp-components-study-whywestudyblock .whywe_card_text, .cmp-components-study-whywestudyblock.whywe_card_text{
  color: rgba(34, 37, 45, 0.7);
  font-weight: 400;
  /* position: absolute; */
  margin-top: 5%;
  margin-left: 10%;
}
