.cmp-components-shop-productrelated a:active, .cmp-components-shop-productrelateda:active, .cmp-components-shop-productrelated /* активная/посещенная ссылка */
a:hover, .cmp-components-shop-productrelated/* активная/посещенная ссылка */
a:hover, .cmp-components-shop-productrelated /* при наведении */
a, .cmp-components-shop-productrelated/* при наведении */
a{
  text-decoration: none;
  color: #000;
}

.cmp-components-shop-productrelated .cource, .cmp-components-shop-productrelated.cource{
  padding: 20px;
  /* height: 100px; */
  margin: 50px 0px;

  background-color: #fff;
  border-radius: 40px;
  border: 1px solid;
  border-color: #ffffff;
  box-shadow: 0px 8px 12px #dde2e533, -10px 34px 34px #0000000f;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%); 
}

.cmp-components-shop-productrelated .course_photo, .cmp-components-shop-productrelated.course_photo{
  border-radius: 40px;
  object-fit: cover;
  object-position: 50% 50%;
}

.cmp-components-shop-productrelated .period, .cmp-components-shop-productrelated.period{
  color: #1D6E2F;
  font-weight: 800;
  padding: 10px;
  background-color: #EFF8F0;
  border-radius: 20px;
  /* border: 1px solid; */
  /* border-color: #ffffff; */
  /* box-shadow: 0px 8px 12px #dde2e533, -10px 34px 34px #0000000f; */
  /* backdrop-filter: blur(8px) brightness(100%); */
  /* -webkit-backdrop-filter: blur(8px) brightness(100%);  */
}

.cmp-components-shop-productrelated .icon-ellipse, .cmp-components-shop-productrelated.icon-ellipse{
  width: 10px;
  margin: 0 10px;
}

.cmp-components-shop-productrelated .cource_footer, .cmp-components-shop-productrelated.cource_footer{
  margin-top: 30px;
}
