.cmp-components-shop-productdescription .middle-element, .cmp-components-shop-productdescription.middle-element{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cmp-components-shop-productdescription .white_block, .cmp-components-shop-productdescription.white_block{
    padding-top: 10px;
}

.cmp-components-shop-productdescription .product_pictures, .cmp-components-shop-productdescription.product_pictures{
    border-radius: 8px;
    object-fit: cover;
    object-position: 50% 50%;  
}

.cmp-components-shop-productdescription .product_photo, .cmp-components-shop-productdescription.product_photo{
    border-radius: 20px;
    object-fit: cover;
    object-position: 50% 50%;
}

.cmp-components-shop-productdescription .rating-stock-m-shop-item, .cmp-components-shop-productdescription.rating-stock-m-shop-item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0px var(--tokens-2xs) 0px var(--tokens-2xs);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.cmp-components-shop-productdescription .rating-shop-item, .cmp-components-shop-productdescription.rating-shop-item{
  display: inline-flex;
  align-items: center;
  gap: var(--tokens-2xs);
  position: relative;
  flex: 0 0 auto;
}

.cmp-components-shop-productdescription .stock-shop-item, .cmp-components-shop-productdescription.stock-shop-item{
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    gap: var(--tokens-xs);
}

.cmp-components-shop-productdescription .product_characteristics, .cmp-components-shop-productdescription.product_characteristics{
    margin: 20px 0;
}

.cmp-components-shop-productdescription .product_characteristic_name, .cmp-components-shop-productdescription.product_characteristic_name{
    color: var(--bs-gray)
}

.cmp-components-shop-productdescription .product_characteristic_value, .cmp-components-shop-productdescription.product_characteristic_value{
    float: right;
    font-size: 1.1em;
}

.cmp-components-shop-productdescription .product_about, .cmp-components-shop-productdescription.product_about{
    margin: 50px 0;
    padding: 40px;
    border-radius: 24px;
    background-color: var(--fillssecondary);
}

.cmp-components-shop-productdescription .product_about_title, .cmp-components-shop-productdescription.product_about_title{
    font-weight: 800;
    margin-bottom: 10px;
}

.cmp-components-shop-productdescription .product_price, .cmp-components-shop-productdescription.product_price{
    font-weight: 800;
    font-size: 2em;
}

.cmp-components-shop-productdescription .basket_product, .cmp-components-shop-productdescription.basket_product{
    margin: 0 10px;
}
