.cmp-components-shop-shopfilter .filter, .cmp-components-shop-shopfilter.filter{
    background-color: white;
    width: 100%;
    min-height: 600px;
    border-radius: 20px;
    padding: 20px;
}

.cmp-components-shop-shopfilter .filter_list, .cmp-components-shop-shopfilter.filter_list{
    /* list-style: square url('@/assets/img/red_li.svg') inside; */

}

.cmp-components-shop-shopfilter .filter_element, .cmp-components-shop-shopfilter.filter_element{

}

.cmp-components-shop-shopfilter .filter_clear, .cmp-components-shop-shopfilter.filter_clear{
    font-size: 0.7em;
    color: var(--colorsdark-red);
    cursor: pointer;
}

.cmp-components-shop-shopfilter .filter_element_color, .cmp-components-shop-shopfilter.filter_element_color{
    margin-left: 10px;
    border-radius: 9px;
    width: 18px;
    height: 18px;
}

.cmp-components-shop-shopfilter .filter-check-input, .cmp-components-shop-shopfilter.filter-check-input{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.cmp-components-shop-shopfilter .filter-check-input+label, .cmp-components-shop-shopfilter.filter-check-input+label{
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.cmp-components-shop-shopfilter .filter-check-input+label::before, .cmp-components-shop-shopfilter.filter-check-input+label::before{
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.cmp-components-shop-shopfilter .filter-check-input:checked+label::before, .cmp-components-shop-shopfilter.filter-check-input:checked+label::before{
  border-color: var(--colorsdark-red);
  background-color: var(--colorsdark-red);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");

}

/* стили при наведении курсора на checkbox */
.cmp-components-shop-shopfilter .filter-check-input:not(:disabled):not(:checked)+label:hover::before, .cmp-components-shop-shopfilter.filter-check-input:not(:disabled):not(:checked)+label:hover::before{
  border-color: var(--colorsdark-red);
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.cmp-components-shop-shopfilter .filter-check-input:not(:disabled):active+label::before, .cmp-components-shop-shopfilter.filter-check-input:not(:disabled):active+label::before{
  background-color: var(--colorsdark-red);
  border-color: var(--colorsdark-red);
}
/* стили для чекбокса, находящегося в фокусе */
.cmp-components-shop-shopfilter .filter-check-input:focus+label::before, .cmp-components-shop-shopfilter.filter-check-input:focus+label::before{
  box-shadow: 0 0 0 0.2rem var(--colorslight-red);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.cmp-components-shop-shopfilter .filter-check-input:focus:not(:checked)+label::before, .cmp-components-shop-shopfilter.filter-check-input:focus:not(:checked)+label::before{
  border-color: var(--colorslight-red);
}
/* стили для чекбокса, находящегося в состоянии disabled */
.cmp-components-shop-shopfilter .filter-check-input:disabled+label::before, .cmp-components-shop-shopfilter.filter-check-input:disabled+label::before{
  background-color: var(--colorslight-red);
}

.cmp-components-shop-shopfilter .filter_header, .cmp-components-shop-shopfilter.filter_header{
    font-size: 1.2em;
    font-weight: 800;
}

.cmp-components-shop-shopfilter .filter_body, .cmp-components-shop-shopfilter.filter_body{
    margin: 20px 0;
}

.cmp-components-shop-shopfilter .filter_input, .cmp-components-shop-shopfilter.filter_input{
    /* margin-right: 30px; */
    text-align: center;
    width: 100%;
    padding: 12px 14px;
    background: #F4F7F9;
    border-radius: 16px;
    border: none;
    outline: none;
    font-size: 16px;
}
