.cmp-components-print-printordersteps .print_order_step, .cmp-components-print-printordersteps.print_order_step{
  height: 390px;
  width: 380px;
  background: url("@/assets/img/print_order_card.png") center / 360px no-repeat;
  align-items: center;

  display:inline-block;
    text-align:center;
}

.cmp-components-print-printordersteps .step_window, .cmp-components-print-printordersteps.step_window{
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  height: 180px;
  width: 80%;
  background-color: #fff;
  margin-left: -5%;
  margin-top: 10%;
  border-radius: 10px;
  /* border:  solid; */
  /* border-color: rgba(45, 133, 233, 1); */
  /* box-shadow: 0px 8px 12px #dde2e533, -10px 34px 34px #0000000f;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%);  */
}

.cmp-components-print-printordersteps .step_window_img, .cmp-components-print-printordersteps.step_window_img{
  vertical-align: middle;
  display:inline-block;
  margin-top: 40px;
}

.cmp-components-print-printordersteps .step_window_text, .cmp-components-print-printordersteps.step_window_text{
  margin-top: 135px;
  margin-left: -180px;
  height: 25px;
  width: 60px;
  font-size: small;
  font-weight: 800;
  color: rgba(216, 58, 86, 1);
  position: absolute;
  background-color: rgba(255, 233, 237, 1);
  border-radius: 10px;
  padding-top: 3px;
  /* border:  solid;
  border-color: rgba(45, 133, 233, 1);
  box-shadow: 0px 8px 12px #dde2e533, -10px 34px 34px #0000000f;
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%); */
}

.cmp-components-print-printordersteps .step_text, .cmp-components-print-printordersteps.step_text{
  vertical-align: middle;
  display:inline-block;
  width: 80%;
  margin-top: 10px;
}
