.cmp-components-print-printprice .item_center, .cmp-components-print-printprice.item_center{
  display:inline-block;
    text-align:center;
}

.cmp-components-print-printprice .print_price, .cmp-components-print-printprice.print_price{
  margin-top:120px;
  vertical-align:middle;
  display:inline-block;

    background-color: rgba(45, 133, 233, .1);
    width: 500px;
    height: 300px;

    border-radius: 40px;
    border: 2px dashed;
    border-color: rgba(45, 133, 233, 1);
    box-shadow: 0px 8px 12px #dde2e533, -10px 34px 34px #0000000f;
    backdrop-filter: blur(8px) brightness(100%);
    -webkit-backdrop-filter: blur(8px) brightness(100%); 
}

.cmp-components-print-printprice .icon_print, .cmp-components-print-printprice.icon_print{
  margin-top: 50px;
  display: inline-block;
  height: 64px;
  width: 64px;
  background-image: url("@/assets/img/icon_file.png");
}

.cmp-components-print-printprice .print_p, .cmp-components-print-printprice.print_p{
  color: #2a2a2bd0;
}

.cmp-components-print-printprice .print_button, .cmp-components-print-printprice.print_button{
  margin-top: 20px;
}
