.cmp-components-elements-darkwelcome .main-welcome, .cmp-components-elements-darkwelcome.main-welcome{
  display: flex;
  width: 1920px;
  align-items: center;
  gap: 40px;
  padding: 80px 320px 80px 320px;
  position: relative;
  background-color: var(--bs-footer);
  /* background-color: var(--fillssecondary); */
  /* border-radius: 0px 0px 80px 80px; */
  overflow: hidden;
}

.cmp-components-elements-darkwelcome .pattern-main-welcome, .cmp-components-elements-darkwelcome.pattern-main-welcome{
  position: absolute;
  width: 1920px;
  height: 2011px;
  top: -910;
  left: 0;
}

.cmp-components-elements-darkwelcome .item-main-welcome, .cmp-components-elements-darkwelcome.item-main-welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px 32px 40px 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #34373a80;
  border-radius: 40px;
  /* border: 1px solid; */
  /* border-color: #ffffff; */
  /* box-shadow: 0px 8px 12px #dde2e533, -10px 34px 34px #0000000f; */
  backdrop-filter: blur(8px) brightness(100%);
  -webkit-backdrop-filter: blur(8px) brightness(100%);
}

.cmp-components-elements-darkwelcome .item-main-welcome:hover, .cmp-components-elements-darkwelcome.item-main-welcome:hover{
	-moz-box-shadow: 0 0 10px #000;
	-webkit-box-shadow: 0 0 10px #000;
	box-shadow:0 0 10px var(--bs-gray-dark); 
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
  cursor: pointer;
}

.cmp-components-elements-darkwelcome .img-main-item, .cmp-components-elements-darkwelcome.img-main-item{
  position: relative;
  width: 260px;
  height: 260px;
  object-fit: cover;
}

.cmp-components-elements-darkwelcome .frame-main-item, .cmp-components-elements-darkwelcome.frame-main-item{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.cmp-components-elements-darkwelcome .button-main-item, .cmp-components-elements-darkwelcome.button-main-item{
  display: flex;
  width: 220px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px var(--tokens-4xl);
  position: relative;
  background-color: var(--graysblack);
  border-radius: var(--tokens-l);
}

.cmp-components-elements-darkwelcome .text-wrapper-main-item, .cmp-components-elements-darkwelcome.text-wrapper-main-item{
  position: relative;
  width: fit-content;
  font-weight: bold;
  color: var(--grayswhite);

}

.cmp-components-elements-darkwelcome .icons-large-main-item, .cmp-components-elements-darkwelcome.icons-large-main-item{
  position: relative;
  width: 24px;
  height: 24px;
}
