.cmp-components-elements-partnersblock .partner-card, .cmp-components-elements-partnersblock.partner-card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px 16px 32px;
  height: 100%;
  color: #000;
  background: #FFFFFF;
  border-radius: 16px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.cmp-components-elements-partnersblock .partner-card:hover, .cmp-components-elements-partnersblock.partner-card:hover{
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.cmp-components-elements-partnersblock .partner-img, .cmp-components-elements-partnersblock.partner-img{
  height: 264px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
}

.cmp-components-elements-partnersblock .partner-img img, .cmp-components-elements-partnersblock.partner-img img{
  width: 100%;
  height: 264px;
  -o-object-fit: cover;
  object-fit: cover;
}

.cmp-components-elements-partnersblock .partner-content, .cmp-components-elements-partnersblock.partner-content{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 32px 20px 0;
}

.cmp-components-elements-partnersblock .partner-title, .cmp-components-elements-partnersblock.partner-title{
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 18px;
}
