.cmp-views-shop-cart .map, .cmp-views-shop-cart.map{
    border-radius: 24px;
}

.cmp-views-shop-cart .cart_block, .cmp-views-shop-cart.cart_block{
    margin: 50px 0;
    padding: 40px;
    border-radius: 24px;
    background-color: var(--fillssecondary);
}

.cmp-views-shop-cart .strong, .cmp-views-shop-cart.strong{
    font-weight: 800;
}

.cmp-views-shop-cart .cart_footer, .cmp-views-shop-cart.cart_footer{
    display: inline-block;
    float: right;
}

.cmp-views-shop-cart .cart_footer_text, .cmp-views-shop-cart.cart_footer_text{
    font-weight: 600;
    font-size: 1.2em;
    display: inline-block;
    margin-right: 20px;
}

.cmp-views-shop-cart .btn:hover, .cmp-views-shop-cart.btn:hover{
    border: 1px solid #D83A56;
    background-color: rgba(248, 59, 73, 0.02);
}

.cmp-views-shop-cart .active, .cmp-views-shop-cart.active{
    border: 1px solid #D83A56;
    background-color: rgba(248, 59, 73, 0.02);
}

.cmp-views-shop-cart .delivery_description, .cmp-views-shop-cart.delivery_description{
    background-color: #fff;
    padding: 20px;
    border-radius: 16px;
}

.cmp-views-shop-cart .input_field, .cmp-views-shop-cart.input_field{
    border-radius: 20px;
    height: 64px;
}

.cmp-views-shop-cart .input_field_sale, .cmp-views-shop-cart.input_field_sale{
    border-radius: 20px;
    height: 32px;
}

.cmp-views-shop-cart .input_field_sale:focus, .cmp-views-shop-cart.input_field_sale:focus{
    border-color: var(--colorsdark-red);
    box-shadow: 0 0 0 0.2rem var(--colorslight-red);
} 

.cmp-views-shop-cart .input_field:focus, .cmp-views-shop-cart.input_field:focus{
    border-color: var(--colorsdark-red);
    box-shadow: 0 0 0 0.2rem var(--colorslight-red);
}

.cmp-views-shop-cart .right, .cmp-views-shop-cart.right{
    display: inline;
    float: right;
}
